/*selector universal "*"*/
*{
    padding: 0px; 
    
} 

input{
    color: white;
    width: 100%;

}

body {
    margin: 0px auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white; 
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 16px;
}

#title,#year{
    color: white; 
}
footer{
    margin:0px;
}

nav{
    background-color: black;
    position: fixed;
    z-index: 100;
    padding: 0px 100px;
    top: 0px;
    height: 200px;
}

nav li a{
    font-size: 32px;
}

#logo{ 
    height: 190px;
    width: 250px;   
    padding-top: 10px;      
}

/* estilos tarjeta*/

.card-title{
    color: black;
}

.modal{
    color: black;
    width: 80%;
}

/* Estilos footer */ 

footer{
    background-color:black; 
    padding: 0px 100px;
    height: 80px;  
}

footer p{
    padding-top: 10px;
    font-size: 14px;
    color: white;
    text-align: left;    
    background-attachment: fixed;
}

/*a)Página de inicio*/

#divone{
    padding-top: 200px; 
    display: inherit;
    width: 100%;
    margin-left: 100px;
}

table{
    width: 0%;
}
a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

#search{
    margin-left: 100px;
}

.margin-form{
    margin-left: 100px;
}

.align-image{
    text-align: center;
}

.modal-content {
    padding: 14px;
    padding-left: 0px;
}